<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Title" value="1"/>
    <add key="Name" value="Vlad" />
    <add key="Surname" value="Nester"/>
    <add key="Mail" value="pikpikapoc@gmail.com"/>
    <add key="PhoneNumber" value="375333186031"/>
    <add key="CompanyName" value="BSTU"/>
    <add key="City" value="Minsk"/>
    <add key="ZipCode" value="225320"/>
    <add key="Country" value="Belarus"/>
    <add key="FromCity" value="London (any UK connection)"/>
    <add key="ToCity" value="Manchester (any)"/>
    <add key="NumberOfChildren" value="0"/>
    <add key="NumberOfAdults" value="1"/>
    <add key="CreditCardNumber" value="" />
    <add key="CardholderName" value=""/>
    <add key="Month" value=""/>
    <add key="Year" value=""/>
    <add key="CVC" value=""/>
  </appSettings>
</configuration>